.container {
    background-color: #05AFF2;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.back-page-btn {
    text-decoration: none;
    color:#F2ECE9;
    font-size: 20px;
    font-weight: 700;

    position: absolute;
    left: 0;
    padding: 20px;

    transition: color .4s;
}

.back-page-btn:hover {
    color: #393E59;
}

.title {
    color: #F2ECE9;
    font-size: 3.4rem;
    font-weight: 900;
    margin: 30px;
}

.subtitle {
    color: #393E59;
    font-size: 2rem;
    font-weight: 900;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    padding: 20px;
}

.content-separator {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 100%;
    margin: 20px 0;
}

.input-content {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.input-content label {
    font-size: 700;
    color: #F2ECE9;
    margin-left: 15px;
}

.form input {
    background-color: #F2ECE9;
    color: #393E59;
    font-size: 18px;
    border: none;
    border-radius: 10px;

    width: 100%;
    padding: 10px;
    margin: 10px;
}

.submit-btn {
    background-color: #05AFF2;
    color: #F2ECE9;

    font-size: 20px;
    font-weight: 900;

    border: 2px solid #F2ECE9;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 30px;

    cursor: pointer;
    transition: .6s;
}

.submit-btn:hover,
.submit-btn:focus {
    box-shadow: inset 450px 0 0 0 #4AD96D;
}
