.header {
    background-color: #05AFF2;
    color: #F2ECE9;
    text-align: center;
    width: 100%;
    height: 20vh;
}

.logo {
    font-size: 3.4rem;
    font-weight: 900;
    cursor: pointer;
    padding-top: 20px;
}

.main {
    background-color: #05AFF2;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 80vh;
}

.title {
    color: #393E59;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.card {
    background-color: #F2ECE9;
    color: #393E59;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 90%;
    padding: 20px 10px;
    margin: 20px 0;
    border-left: 8px solid #325CD9;
    border-radius: 20px;
}


.btn-seleciona-conta {
    background-color: #F2ECE9;
    color: #393E59;

    font-size: 20px;
    font-weight: 900;

    border: 2px solid #05AFF2;
    border-radius: 15px;
    padding: 10px 20px;

    cursor: pointer;
    transition: .6s;
}

.btn-seleciona-conta:hover,
.btn-seleciona-conta:focus {
    box-shadow: inset 450px 0 0 0 #4AD96D;
}
