.container {
    background-color: #05AFF2;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-height: 100vh;
}

.back-page-btn {
    text-decoration: none;
    color:#F2ECE9;
    font-size: 20px;
    font-weight: 700;

    position: fixed;
    left: 0;
    padding: 20px;

    transition: color .4s;
}

.back-page-btn:hover {
    color: #393E59;
}

.title {
    color: #F2ECE9;
    font-size: 3.4rem;
    font-weight: 900;
    margin: 20px;
}

.subtitle {
    color: #393E59;
    font-size: 2rem;
    font-weight: 900;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80%;
    padding: 20px;
}

.form label {
    color: #F2ECE9;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}

.form input, .form select {
    background-color: #F2ECE9;
    color: #393E59;
    font-size: 18px;
    border: none;
    border-radius: 10px;

    width: 40%;
    padding: 10px;
    margin: 10px;
}

.submit-btn {
    background-color: #05AFF2;
    color: #F2ECE9;

    font-size: 20px;
    font-weight: 900;

    border: 2px solid #F2ECE9;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 20px;

    cursor: pointer;
    transition: .6s;
}

.submit-btn:hover,
.submit-btn:focus {
    box-shadow: inset 450px 0 0 0 #4AD96D;
}

.scroll-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 80%;
    height: 340px;
    padding: 5px 0;
    margin-bottom: 20px;
    overflow-y: auto;
}

.card {
    background-color: #F2ECE9;
    color: #393E59;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 95%;
    padding: 20px 10px;
    margin: 10px 0;
    border-left: 8px solid #325CD9;
    border-radius: 20px;
}

.form-title {
    color: #F2ECE9;
    font-size: 2rem;
    font-weight: 700;

    margin-bottom: 10px;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.8);

    display: none;

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;

    opacity: 0;
    visibility: hidden;
}

.active {
    display: flex;
    align-items: center;
    justify-content: center;
    
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: #05AFF2;
    color: #393E59;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    padding-top: 20px;
    position: relative;
    border-radius: 30px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.modal-form input, 
.modal-form select {
    background-color: #F2ECE9;
    color: #393E59;
    font-size: 20px;

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.modal-form label {
    color: #393E59;
    font-size: 20px;
    font-weight: 700;
 
}

.close-modal {
    color: #F2ECE9;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.close-modal:hover {
    color: #FF4C40;
}